$mainColor-light: #fdb6fe;
$mainColor-medium: #fb71fd;
$mainColor-dark: #fb07fe;

$whiteColor-light: #f8d8f9;
$whiteColor-medium: #f0cff1;
$whiteColor-dark: #d9c0db;

$contrastColor: #e0e2c7;
$darkColor: #480349;

$fontColor-primary: rgba(0, 0, 0, 0.95);
$fontColor-secondary: rgba(0, 0, 0, 0.65);
$fontColor-disabled: rgba(0, 0, 0, 0.45);

$libreria-borde: #a46224;
$libreria-fondo: #5b391a;
