.footer {
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--whiteColor-medium);
  padding: 1rem;
  align-items: center;
  justify-content: start;
}
.footer-h2 {
    color: var(--fontColor-secondary);
    font-size: var(--fontNormal-little);
    margin: 0 3rem;
}
.footer-topscroll {
  position: fixed;
  bottom: 10px;
  left: 20px;
  padding: 10px 10px;
  background-color: var(--mainColor-dark);
  color: var(--whiteColor-light);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
  transition: transform 0.25s;
  transition: opacity 0.5s ease;
}
.footer-topscroll.isActive{
    opacity: 0.7;
    pointer-events: all;
}
.footer-topscroll:hover{
    opacity: 1;
    transform: scale(1.2);

}
